@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="usa-overlay"></div>
  <div id="app">
    <main id="main-content">
      <section class="usa-section usa-section-gray ">
        <div class="usa-grid">
          <h1 class="va-page-title"></h1>
        </div>
      </section>
      <section class="usa-section va-colpadding_20">
        <div class="usa-grid">
          <article class="usa-width-one-whole">
            <div class="usa-width-one-half">
              <article class="usa-card">
                <div class="usa-card_divider usa-card--blue-darkest"> <span class="usa-card_title"><abbr title="Department of Veterans Affairs">
    Cloud Migration Framework Context
    Pattern
</span></div>
                <div class="usa-card_section">
                  <div class="row">
                      <div class="input-group">
                          <div class="input-group">
                              <p>
                                  Project teams should consider a best practice migration path to meet cloud migration
                                  requirements. Select a dropdown context item to read more on each migration framework and the corresponding
                                  service models available.
                              </p>
                              <form class="button-group usa-button-secondary">
                                  <ul>
                                      <li>
                                          <label class="avail-ads" for="access-rules"><span style="padding-right:83px;"> Cloud Migration Framework</span></label>
                                          <select class="form-control" id="ac">
                                              <optgroup label="Context">
                                                  <option>Rehosting</option>
                                                  <option>Replatforming</option>
                                                  <option>Repurchasing</option>
                                                  <option>Refactoring</option>
                                                  <option>Retire </option>
                                                  <option>Retain</option>
                                              </optgroup>
                                          </select>
                                      </li>
                                  </ul>
                              </form>

                          </div>

                      </div>
                  </div>
                </article>
              </div>
              <div class="usa-width-one-half">
                <article class="usa-card">
                  <div class="usa-card_divider usa-card--blue-darkest"> <span class="usa-card_title"><abbr title="Department of Veterans Affairs"> Cloud Migration Framework Business Need and Business Case</span></div>
                  <div class="usa-card_section">
                    <div class="row">
                      <div class="input-group input-group-ads">
                          <img src="~/images/cmf-diagram.png">
                        </div>
                      </div>
                      
                    </div>
                  </article>
                  </div><!--end usa-width-one-half!-->
                </article>
              </div>
            </section>

        </main>
